/*-----------------------------------*/
/*------>>> COLOR PALETTE <<<--------*/
/*-----------------------------------*/

/* light blue (accent): #007fff */

/*-----------------------------------*/
/*-------->>> TEMPORARY <<<----------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*---------->>> GLOBAL <<<-----------*/
/*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-family: helvetica;
	font-size: 62.5%; /* 1.0em == ~10px */
	font-variant: small-caps;
}

table {
	border: 1px solid #c5c5c5;
	border-spacing: 0;
}

td {
	background-color: white;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

/*-----------------------------------*/
/*------>>> PAGE STRUCTURE <<<-------*/
/*-----------------------------------*/

.container {
	min-width: 600px;
}

#slider-handle {
  height: 20px;
  line-height: 20px;
  margin-top: -4px;
  text-align: center;
  width: 20px;
}

.toolbox {
	border-radius: 3px;
	margin-left: 10px;
	position: absolute;
	width: 125px;
}

.toolbox-tab {
	height: 15px;
	margin: 5px;
	position: absolute;
	z-index: 1;
}

.tools {
	border: 1px solid black;
	display: none;
	height: 100px;
	padding: 5px 5px 5px 25px;
}

.icons {
	width: 15px;
}

.pad, .toolbox {
	display: inline-block;
}

.main, .header {
	margin: 20px auto;
}

.pad, table {
	height: 500px;
}

.container, #grid-slider {
	margin: auto;
}

.pad, table, #grid-slider, .main {
	width: 500px;
}

/*-----------------------------------*/
/*---------->>> HEADER <<<-----------*/
/*-----------------------------------*/

.header {}

	.header > h1 {
		font-size: 40px;
		font-weight: normal;
		line-height: 33px;
		text-align: center;
	}

/*-----------------------------------*/
/*---------->>> EXTRAS <<<-----------*/
/*-----------------------------------*/

/*
#eraser-button {
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	padding: 2px;
}

	#eraser-button > embed {
		vertical-align: middle;
		width: 15px;
	}

#clear-button {
	width: 64px;
}
*/

/*-----------------------------------*/
/*---------->>> OTHER <<<------------*/
/*-----------------------------------*/

.drawnOn {
	background-color: black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}