/*-----------------------------------*/
/*-------->>> TEMPORARY <<<----------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*---------->>> GLOBAL <<<-----------*/
/*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-size: 62.5%; /* 1.0em == ~10px */
}

button {
	width: 64px;
}

table {
	border: 1px solid #c5c5c5;
	border-spacing: 0;
}

td {
	background-color: white;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

/*-----------------------------------*/
/*---------->>> HEADER <<<-----------*/
/*-----------------------------------*/

.header {}

	.header > h1 {
		font: small-caps 40px helvetica;
		line-height: 33px;
		text-align: center;
	}

/*-----------------------------------*/
/*------>>> PAGE STRUCTURE <<<-------*/
/*-----------------------------------*/

.container {
	min-width: 600px;
}


.tools {
	margin: auto;
}

#grid-slider {
	display: inline-block;
	margin-right: 20px;
	width: 410px;
}

#slider-handle {
  height: 20px;
  line-height: 20px;
  margin-top: -4px;
  text-align: center;
  width: 20px;
}

.pad, .header {
	margin: 20px auto;
}

.pad, table {
	height: 500px;
}

.pad, table, .tools {
	width: 500px;
}

/*-----------------------------------*/
/*---------->>> OTHER <<<------------*/
/*-----------------------------------*/

.drawnOn {
	background-color: black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}