/*-----------------------------------*/
/*------>>> COLOR PALETTE <<<--------*/
/*-----------------------------------*/

/* light blue (accent): #007fff */

/*-----------------------------------*/
/*-------->>> TEMPORARY <<<----------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*---------->>> GLOBAL <<<-----------*/
/*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font-family: helvetica;
	font-size: 62.5%; /* 1.0em == ~10px */
}

h1 {
	font-variant: small-caps;
}

table {
	border: 1px solid #c5c5c5;
	border-spacing: 0;
}

td {
	background-color: white;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

/*-----------------------------------*/
/*------>>> PAGE STRUCTURE <<<-------*/
/*-----------------------------------*/

.container {
	min-width: 600px;
}

#slider-handle {
  height: 20px;
  line-height: 20px;
  margin-top: -4px;
  text-align: center;
  width: 20px;
}

.toolbox {
	border-radius: 3px;
	margin-left: 10px;
	position: absolute;
	width: 135px;
}

.toolbox-tab {
	margin: 5px;
	position: absolute;
	z-index: 1;
}

	.toolbox-tab > img {
		margin-right: 5px;
		width: 15px;
	}

#tools-label {
	margin-top: 1px;
}

.toolbox-tab > img, #tools-label {
	vertical-align: middle;
}

.tool-wrapper {
	border: 1px solid #007fff;
	display: none;
	padding: 20px 5px 5px 25px;
}

.tools {
	padding: 1px 1px 1px 15px;
}

.pad, .toolbox, #tools-label {
	display: inline-block;
}

.main, .header {
	margin: 20px auto;
}

.pad, table {
	height: 500px;
}

.container, #grid-slider {
	margin: auto;
}

.pad, table, #grid-slider, .main {
	width: 500px;
}

/*-----------------------------------*/
/*---------->>> HEADER <<<-----------*/
/*-----------------------------------*/

.header {}

	.header > h1 {
		font-size: 40px;
		font-weight: normal;
		line-height: 33px;
		text-align: center;
	}

/*-----------------------------------*/
/*---------->>> EXTRAS <<<-----------*/
/*-----------------------------------*/



/*-----------------------------------*/
/*---------->>> OTHER <<<------------*/
/*-----------------------------------*/

.blackPencil {
	background-color: black;
	/* border-right: 1px solid black;
	border-bottom: 1px solid black; */
}

.hoveredTool {
	background-color: rgba(0, 127, 255, 0.2);
}

.selectedTool {
	background-color: rgba(0, 127, 255, 0.4);
}